.scrollButton {
  position: fixed;
  bottom: -20px;
  padding: 10px;
  margin-bottom: 50px;
  right: 20px;
  z-index: 999;
  background-color: blue;
  border-radius: 10px; /* Assure que le bouton est au-dessus des autres éléments si nécessaire */
}
